/* You can add global styles to this file, and also import other style files */
:root {
    --color-white: #EEEEEE;
    --color-footer: #4b4a4a;
    --color-blue: #00ADB5;
    --color-gray: #393E46;
    --color-black: #222831;
    --error-color: #bb5e5e;
}


body {
    background: var(--color-white);
    color: #151515;
    font-family: 'KoHo', sans-serif;
}

.float-right {
    float: right;
}