<main class="container text-center">
  <div class="col card">
    <h4 class="card-header">Registrar Usuario</h4>
    <div class="card-body">
      <div class="card-row">
        <span class="card-title cell">* Nickname:</span>
        <input type="text" (input)="UpdateValue($event, 'nickname')"
          placeholder="Nickname" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">* Nombre:</span>
        <input type="text" (input)="UpdateValue($event, 'name')"
          placeholder="Nombre" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">* Apellido:</span>
        <input type="text" (input)="UpdateValue($event, 'lastName')"
          placeholder="Apellido" class="cell">
      </div>
      <hr>
      <div class="card-row">
        <span class="card-title cell">Calle:</span>
        <input type="text" (input)="UpdateValue($event, 'street')"
          placeholder="Calle" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">Colonia:</span>
        <input type="text" (input)="UpdateValue($event, 'suburb')"
          placeholder="Colonia" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">Municipio:</span>
        <input type="text" (input)="UpdateValue($event, 'city')"
          placeholder="Municipio" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">Estado:</span>
        <input type="text" (input)="UpdateValue($event, 'state')"
          placeholder="Estado" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">C.P.</span>
        <input type="text" (input)="UpdateValue($event, 'zip')"
          placeholder="C.P." class="cell">
      </div>
      <hr>
      <div class="card-row">
        <span class="card-title cell">* Email:</span>
        <input type="text" (input)="UpdateValue($event, 'email')"
          placeholder="user@dominio.com" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">* Contraseña:</span>
        <input type="password" (input)="UpdateValue($event, 'password')"
          placeholder="*******" class="cell">
      </div>
      <div class="card-row">
        <span class="card-title cell">Telefono:</span>
        <input type="number" (input)="UpdateValue($event, 'phone')"
          placeholder="Telefono" class="cell">
      </div>
    </div>
      <hr>
      <a (click)='Register();' class="btn btn-primary">Registrar</a>
      <div class="py-2 register-error" [hidden]='!invalidRegister'>No se pudo registrar el usuario. {{registerFailure}}.</div>
    
  </div>
</main>
