body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: url('https://previews.123rf.com/images/swavo/swavo1607/swavo160700020/60006674-cement-wall-texture.jpg');
    background-size: 100% 100%;

    font-family: 'Signika', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    text-align: center;
}

.tarjeta {
    width: 25rem;
    height: 15rem;
    background: #27292D;
    margin-bottom: 2rem;
    display: inline-block;

    box-shadow: 2px 10px 30px 3px;
    position: relative;
}

.tarjeta > section {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.tarjeta section {
    display: inline-block;
    font-size: 0.65em;
}

.tarjeta section h2, .tarjeta section h6 {
    text-align: left;
    margin: 0;
}

.golden-text {
    color: rgb(188, 162, 114);
    font-weight: bold;
}

.white-text {
    color: white;
}

.gray-text {
    color: gray;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.mitad {
    width: 50%;
    float: left;
}

.mitad:first-child {
    text-align: right;
    padding-right: 1rem;
}

/*.mitad:last-child*/
.mitad:nth-child(2) {
    text-align: left;
    color: gray;
    padding-left: 0.5rem;
    padding-right: 1rem;

    border-left: 1px solid white;

    line-height: 60%;
}

.separado {
    margin-bottom: 0.4rem;
}

.mitad:nth-child(2) span {
    font-size: 0.6rem;
}

.material-icons {
    color: rgb(188, 162, 114);
}

.direccion {
    color: white;
    font-weight: bold;
}