body,
html {
    width: 100%;
    height: 100%;
    margin: 0%;
    
   
}
.rosa{
        width: 50%;
        height: 100%;
        margin: 0%;
       background-color: lightpink;
       display: inline-block;
       position: relative;
       
}

.verde{
    width: 50%;
    height: 100%;
    margin: 0%;
    background-color: greenyellow;
  float: left;
  position: relative;
}