
.card {
    height: 30rem;
    width: 30rem;
    border: solid 1px var(--color-blue);
    text-align: center;
    display: inline-block;
}

.card-header {
    background-color: var(--color-blue);
}

.card-body {
    background-color: var(--color-white);
}
.image {
    width: 30rem;
    height: 30rem;
    display: inline-block;
}

.login-error {
    color: var(--error-color);
}