header {
    background: var(--color-black);
    height: 3rem;
    padding: .3rem;
    color: var(--color-white);
    font-size: 1.4rem;
    box-shadow: 0rem 0.2rem 1rem 0.1rem #393e46;

    position: sticky;
    left: 0;
    top: 0;
    z-index: 1060;
}

a, a:link {
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s color;
}

a:hover {
    color: var(--color-white);
    text-decoration: none;
    transition: 0.3s color;
}

.logo {
    height: 2.4rem;
    width: 2.4rem;
    background-color: dimgray;
    float: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

i {
    margin-left: 2rem;
}

span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}