<main class='container py-3'>
  <h1>Bienvenido a desarrolla.Store</h1>
  <div id="sliderInicio" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#sliderInicio" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#sliderInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#sliderInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/InicioSlider1.png" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/InicioSlider2.png" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/InicioSlider3.png" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sliderInicio" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sliderInicio" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class='text-center'>
    <hr>
    <h2>¿Quienes Somos?</h2>
    <hr>
    <div class="card border-secondary mb-3 d-inline-block mx-3" style="max-width: 18rem;">
      <div class="card-header">desarrolla.Software</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Por el gobierno de SPGG</h5>
        <p class="card-text">Somos un curso impartido por Softek con la intención de enseñar la esencia de la carrera de
          Ingenieria en sistemas.</p>
      </div>
    </div>
    <div class="card border-secondary mb-3 d-inline-block mx-3" style="max-width: 18rem;">
      <div class="card-header">¿Para qué?</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Aprender y/o aplicar</h5>
        <p class="card-text">SPara aprender y poder aplicar lo aprendido en otros aspectos laborales y tambien para
          poder laborar de la carrera.</p>
      </div>
    </div>
    <div class="card border-secondary mb-3 d-inline-block mx-3" style="max-width: 18rem;">
        <div class="card-header">¿Quienes?</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Cualquiera</h5>
          <p class="card-text">Todo aquel que quiera aprender el desarrollo de paginas web y que pueda complementarlo con sus conocimientos.</p>
        </div>
      </div>
    <h6>Este curso fue impartidos en su primera version en Primavera-Verano 2021</h6>
  
    <hr>
    <hr>
    <h2>Nuestra Vision</h2>
    <hr>
    <div class='about-image'>
        <img src="w-100 h-100" src=''>
    </div>
    <article>
        <div class="d-table-cell alig-middle text-left">
            <h3>Acerca de...</h3>
            <p>Somos un curso que se encargado de impartir desarrollo web.</p>
            <h3>¿Cuando?</h3>
            <p>Todos los días de 9 de la mañana a 12 de la tarde.</p>
            <h3>¿Donde?</h3>
            <p>A través de Microsft Teams, por llamada en línea para compartir recursos.</p>
        </div>
    </article>
  </section>
</main>