<h1 class="py-3 text-center">Bienvenido a desarrolla.Store</h1>
<div id="sliderInicio" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#sliderInicio" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#sliderInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/inicio1.svg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/inicio3.svg" class="d-block w-100">
    </div>
  </div>
</div>
<main class="container py-3 text-center">
  <hr>
  <h2>¿Quiénes Somos?</h2>
  <hr>
  <div class="card border-secondary mb-3 d-inline-block mx-3" style="max-width: 18rem;">
    <div class="card-header">desarolla.Software</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Por el gobierno de SPGG</h5>
      <p class="card-text">Somos un curso impartido por Softtek con la intención de enseñar la esencia de la carrera de
        ingeniería en sistemas</p>
    </div>
  </div>

  <div class="card border-secondary mb-3 d-inline-block mx-3" style="max-width: 18rem;">
    <div class="card-header">¿Quiénes?</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Cualquiera</h5>
      <p class="card-text">El curso lo toma cualquier persona interesada en aprender o tener visión de la programación
      </p>
    </div>
  </div>

  <div class="card border-secondary mb-3 d-inline-block mx-3" style="max-width: 18rem;">
    <div class="card-header">¿Para qué?</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Aprender y/o aplicar</h5>
      <p class="card-text">Para aprender y poder aplicar lo aprendido en otros aspectos laborales. También para laborar
        de la carrera</p>
    </div>
  </div>
  <h6>Este curso fue impartido en su primera versión, en Primavera-Verano 2021</h6>
  <div class="py-3"></div>
  <hr>
  <h2>¿Quiénes somos?</h2>
  <hr>
  <section class="d-flex centered-flex">
    <div class="about-image">
      <img class="w-100 h-100" src="">
    </div>
    <article>
        <div class="d-table w-100 h-100 px-4">
            <div class="d-table-cell align-middle text-left">
                <h3>Acerca de...</h3>
                <p>Somos un curso que se dedica a tratar de aprender cómo es que la programación se implementa y dar ideas de cómo aplicarla</p>
                <h3>¿Cuándo?</h3>
                <p>Todos los días, de lunes a viernes, de 9 de la mañana a 12 de la tarde</p>
                <h3>¿Dónde?</h3>
                <p>A través de Microsoft Teams, por llamada en línea para compartir recursos (Pantalla, documentos, etc)</p>
            </div>
        </div>
    </article>
  </section>
</main>