<div class="container py-5 text-center">
    <h1>Tu pedido ha sido confirmado</h1>
    <i class="bi bi-check-circle"></i>
    <h2>Tu pedido será procesado en la brevedad posible</h2>
    <h2>Recibirás un correo electrónico con la información de tu compra</h2>
    <h2>Tu número de pedido es: {{numeroPedido}}</h2>
</div>

<section class="text-center pb-5 container">
    <h5>Para cualquier duda o inquietud, puedes contactarnos al correo <a href="mailto:correo@algo.com">Soporte de desarrolla.Store</a></h5>
    <h5>El envío de tu pedido será en un aproximado de 3 a 7 días hábiles</h5>
    <a href="/catalog" class="btn pay-button mt-3">Continuar Comprando</a>
</section>