/* ul::first-line {
    color: blue;
}

span.failed {
    color: red;
    font-weight: bold;
    text-decoration: underline;
};


body {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.table {
    display: table;
    height: 100%;
    width: 100%;
}

.row {
    display: table-row;
}

.cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border: 2px solid;
}

.cell:hover {
    color: green;
} */

/* .padre {
    text-align: center;
}

.hijo {
    width: 25%;
    height: 25%;
    display: inline-block;
} */
/* 
.examen:first-child
	{
		display: block;
	} */

div.examen {
    width: 500px;
    border: 1px solid black;
    margin-left: 500px;
    padding-top: 300px;
    text-align: left;
}

span {
    color: red;
    margin-left: 2px;
}