.list-group {
    width: 100%;
    font-size: 1.4rem;
}

.bi {
    margin-right: 1rem;
}

input[type=text] {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--color-blue);
    outline: 0;
    margin-left: 0.5rem;
}

input[type=text]:active {
    outline: 0;
}