<section class="container py-5">
  <h2><i class="bi bi-info-circle-fill"></i>Información del usuario</h2>
  <hr>
  <ul class="list-group">
    <li class="list-group-item"><i class="bi bi-person-fill"></i>ID: {{userData.nickname}}</li>
    <li class="list-group-item"><i class="bi bi-person-fill"></i>Nombre: {{userData.name}}</li>
    <li class="list-group-item"><i class="bi bi-person-fill"></i>Apellidos: {{userData.lastName}}</li>
    <li class="list-group-item"><i class="bi bi-envelope-fill"></i>Email: {{userData.email}}</li>
    <li class="list-group-item"><i class="bi bi-telephone-fill"></i>Teléfono: {{userData.phone}}</li>
  </ul>

  <h2 class="mt-5"><i class="bi bi-geo-alt-fill"></i>Datos de envío</h2>
  <hr>
  <ul class="list-group">
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Calle: {{userData.address.street}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Colonia: {{userData.address.suburb}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Ciudad: {{userData.address.city}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Estado: {{userData.address.state}}</li>
    <li class="list-group-item"><i class="bi bi-geo-fill"></i>Código Postal: {{userData.address.zip}}</li>
  </ul>

</section>
