.login-form {
    display: inline-block;
    background-color: var(--color-white);
    box-shadow: 0px 0px 1rem 0px var(--color-black);
    width: 28rem;
    height: 28rem;
}

.login-input {
    display: block;
    height: 4rem;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--color-black);
}

.button-login {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: 0;
    width: 100%;
    height: 4rem;
}