#Inicio>article div p.descripcion span:first-child{
    color: green;
    font-size: 2rem;
    border: 1px solid black;
    background-image: url(url);
    
}
.descripcion{
    color: green;
    font-size: 2rem;
    border: 1px;
    background-image width: 300px height: ;: 180px;: ;

}