<main class="container">
    <h2 class="title">Carrito de compras</h2>
    <div class="row">
        <div class="col-6 line-border"></div>
    </div>
    <div class="row">
        <table class="table table-success table-striped table-borderless">
            <thead>
                <tr>
                    <th></th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div>Nombre Producto</div>
                        <div>#SKU</div>
                        <div>Descripción</div>
                    </td>
                    <td class="centered">

                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
</main>