/* You can add global styles to this file, and also import other style files */
:root {
    --color-white: #EEEEEE;
    --color-footer: #cfcfcf;
    --color-blue: #00ADB5;
    --color-gray: #393E46;
    --color-black: #222831;
}

body {
    background: var(--color-white);
    color: var(--color-black);
    font-family: 'Dosis', sans-serif;
}

.float-right {
    float: right;
}

.link {
    color: var(--color-black);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: var(--color-blue);
}