/* You can add global styles to this file, and also import other style files */
:root {
    --color-white: #EEEEEE;
    --color-blue: #00ADB5;
    --color-gray: #393E46;
    --color-black: #222831;
}

body {
    background: var(--color-white);
    color: var(--color-black);;
}

.float-right {
    float: right;
}